/* add todo section start*/
.addTodo_Section {
  background-color: rgb(251, 251, 251);
  margin-block: 10px;
  box-shadow: 3px 0px 15px rgb(92, 212, 132);
  position: relative;
}

.addTodo_Section h2 {
  padding: 50px 0px 0px 400px;
}

.addTodo_Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px;
  position: relative;
 
}

.addTodo_Banners img {
  max-width: 500px;
  transition: all 0.3s ease;
}

.addTodo_Banners img:hover,
.bannerImage img:hover {
  transform: scale(1.1);
}

.addTodo_Input {
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(16, 17, 66);
  padding: 40px 30px;
  text-align: center;
  margin-left: 50px;
  transition: all 0.3s ease;
}

.addTodo_Input:hover {
  transform: scale(1.1);
}

.addTodo_Title {
  font-size: 20px;
  color: #001233;
  margin-bottom: 50px;
  border-bottom: 3px solid rgb(121, 190, 181);
  text-shadow: 2px 2px 3px rgb(117, 154, 168);
  padding: 4px;
  text-transform: uppercase;
}

input[type="text"] {
  width: 410px;
  font-size: 19px;
  padding: 16px;
  border-radius: 2px;
  outline-color: #0b6d10;
  color: #001233;
  box-shadow: 3px 3px 5px rgb(108, 125, 173);
  border: none;
  color: rgb(88, 88, 88);
}

.addBtn {
  font-size: 19px;
  padding: 14px;
  border-radius: 2px;
  margin-left: 10px;
  background-color: #0bad92;
  color: white;
  font-weight: bold;
  border: none;
  border-top: 3px solid rgb(87, 224, 128);
  border-bottom: 3px solid rgb(87, 224, 128);
  box-shadow: 2px 2px 5px rgb(162, 221, 216);
  cursor: pointer;
  transition: all 0.3s ease;
}

.addBtn:hover {
  background-color: #0ba1ac;
  color: #4a5c3e;
  box-shadow: 2px 2px 5px rgb(39, 146, 137);
}

@media (max-width: 1320px) {
  .addTodo_Banners img {
    max-width: 470px;
  }

  .addTodo_Input {
    padding: 30px;
    margin-left: 40px;
  }

  .addTodo_Title {
    font-size: 25px;
    margin-bottom: 30px;
  }

  input[type="text"] {
    width: 340px;
    padding: 15px;
  }
  .addBtn {
    font-size: 17px;
    padding: 14px;
    margin-left: 7px;
  }
}
@media (max-width: 1196px) {
  .addTodo_Content {
    /* gap: 0px; */
  }
  .addTodo_Banners img {
    max-width: 390px;
  }

  .addTodo_Input {
    padding: 20px;
    margin-left: 0px;
  }

  input[type="text"] {
    width: 330px;
    padding: 15px;
    margin-top: 20px;
  }
  .addBtn {
    font-size: 17px;
    padding: 14px;
    margin-left: 7px;
  }
}

@media (max-width: 1044px) {
  .addTodo_Content {
    padding: 40px 40px;
  }
  .addTodo_Banners img {
    max-width: 370px;
  }
  .addTodo_Input {
    padding: 20px;
    margin-left: 10px;
  }
  input[type="text"] {
    width: 310px;
    padding: 15px;
    margin-top: -20px;
  }

  .addTodo_Title {
    font-size: 20px;
  }
}

@media (max-width: 930px) {
  .addTodo_Content {
    padding: 40px 40px;
  }
  .addTodo_Banners img {
    max-width: 360px;
  }
  .addTodo_Input {
    padding: 20px;
    margin-left: 10px;
  }
  .addTodo_Title {
    font-size: 20px;
  }

  input[type="text"] {
    width: 280px;
    padding: 10px;
    margin-top: -20px;
  }

  .addBtn {
    font-size: 16px;
    padding: 10px;
    margin-left: 8px;
 
  }
  

}

@media(max-width: 888px) {
  .addTodo_Content {
    padding: 20px 30px;
  }
  .addTodo_Banners img {
    max-width: 380px;
  }
  .addTodo_Input {
    padding: 20px;
    margin-left: 0px;
  }
  .addTodo_Title {
    font-size: 18px;
  }

  input[type="text"] {
    width: 230px;
    padding: 8px;
    margin-top: -20px;
  }

  .addBtn {
    font-size: 16px;
    padding: 8px;
    margin-left: 8px;
 
  }
}

@media(max-width: 817px) {
  .addTodo_Content {
    padding: 20px 30px;
  }
  .addTodo_Banners img {
    max-width: 340px;
  }
  .addTodo_Input {
    padding: 20px;
    margin-left: 0px;
  }
  .addTodo_Title {
    font-size: 18px;
  }

  input[type="text"] {
    width: 220px;
    padding: 8px;
    margin-top: -30px;
  }

  .addBtn {
    font-size: 16px;
    padding: 8px;
    margin-left: 8px;
 
  }
}

@media (max-width: 768px) {
  .addTodo_Content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px 30px;
      height: 370px;
  }
  .addTodo_Banners img {
    position: absolute;
    top: 10px;
    left: 250px;
    max-width: 250px;
  }
  .addTodo_Input {
    padding: 15px;
    margin-left: 0px;
    position: absolute;
    bottom: 20px;
  }
  .addTodo_Title {
    font-size: 16px;
  }

  input[type="text"] {
    width: 230px;
    padding: 6px;
    margin-top: 0px;
    font-size: 16px;
  }

  .addBtn {
    font-size: 16px;
    padding: 6px;
    margin-left: 8px;
 
  }
}
@media (max-width: 480px) {
  .addTodo_Content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 30px;
      height: 330px;
  }
  .addTodo_Banners img {
    position: absolute;
    top: 10px;
    left: 100px;
    max-width: 200px;
  }
  .addTodo_Input {
    padding: 10px;
    margin-left: 0px;
    position: absolute;
    bottom: 30px;
  }

  .addTodo_Input:hover {
    transform: scale(1);
  }

  .addTodo_Title {
    font-size: 14px;
    margin-bottom: 20px;
  }

  input[type="text"] {
    width: 250px;
    padding: 6px;
    margin-bottom: 10px;
  }

  .addBtn {
    font-size: 16px;
    padding: 3px;
    margin-left: 8px;
 
  }
}

/* add todo section end*/

.tasks_list_management {
  padding: 20px 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 0px 15px rgb(92, 212, 132);
  
}
.tasks_list {
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
}

.tasks_list_title h1 {
  font-size: 22px;
  color: #001233;
  margin-bottom: 50px;
  border-bottom: 3px solid rgb(121, 190, 181);
  text-shadow: 2px 2px 3px rgb(117, 154, 168);
  padding: 4px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(148, 225, 171);
}

.emptyBox {
  position: relative;
}

.emptyBoxImage {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.emptyBoxImage img {
  max-width: 430px;
  margin-top: -30px;
  margin-bottom: -40px;
}

@media (max-width: 1280px) {
  .emptyBoxImage img {
    max-width: 430px;
    margin-top: -30px;
    margin-bottom: -40px;
  }
}

@media (max-width: 1024px) {
  .tasks_list_title h1 {
    font-size: 22px;
  }

  .emptyBoxImage img {
    max-width: 330px;
    margin-top: -50px;
    margin-bottom: -40px;
  }
}

@media (max-width: 767px) {
  .tasks_list_title h1 {
    font-size: 20px;
  }

  .emptyBoxImage img {
    max-width: 250px;
    margin-top: -50px;
    margin-bottom: -40px;
  }
}


@media (max-width: 480px) {
  .tasks_list_title h1 {
    font-size: 18px;
  }

  .emptyBoxImage img {
    max-width: 200px;
    margin-top: -50px;
    margin-bottom: -40px;
  }
}
