


.heroSection{
    display: flex;
    justify-content: space-between;
    background-color: rgb(251, 251, 251);
    padding: 10px 60px;
    margin-top:75px;
    box-shadow: 3px 0px 15px rgb(92, 212, 132) ;

}

.HomeContent{
    text-align: center;
    width: 600px;
    margin-top: 85px;
}
.title{
    font-size: 20px;
    color: #0b6d10;
    text-decoration: underline;
    text-transform: uppercase;
}


.motivation_Text{
    margin-top: 20px;
}

.motivation_Text p{
    text-align: justify;
    font-size: 20px;
    color: #001233; 
}

.bannerImage img{
    max-width: 500px;
    transition: all .3s ease;
}


@media (max-width: 1080px) {
    
.heroSection{
    display: flex;
    justify-content: space-between;
    background-color: rgb(251, 251, 251);
    padding: 10px 70px;
    margin-top:75px;
    box-shadow: 3px 0px 15px rgb(92, 212, 132) ;

}

.HomeContent{
    margin-top: 70px;
}
.title{
    font-size: 15px;
}


.motivation_Text{
    margin-top: 15px;
}

.motivation_Text p{
    font-size: 17px;
}

.bannerImage img{
    max-width: 450px;
}

}


@media (max-width: 1080px) {
    
.heroSection{
    display: flex;
    justify-content: space-between;
    background-color: rgb(251, 251, 251);
    padding: 10px 70px;
    margin-top:75px;
    box-shadow: 3px 0px 15px rgb(92, 212, 132) ;

}

.HomeContent{
    margin-top: 70px;
}
.title{
    font-size: 15px;
}


.motivation_Text{
    margin-top: 15px;
}

.motivation_Text p{
    font-size: 17px;
}

.bannerImage img{
    max-width: 450px;
}

}


