
.task_list{
    margin-bottom: 10px;
    border-radius: 2px;
    width: 800px;
    margin: auto;
}

.single_task{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 20px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 2px;
    font-size: 18px;
    box-shadow: 0px 2px 1px rgb(167, 225, 188);
    transition: all .3s ease;
}

.single_task:hover{
    box-shadow: 0px 2px 10px rgba(78, 190, 125, 0.808);
}

.completeBtnAndData{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input.compledBtn{
    cursor: pointer;
    font-size: 20px;
}



.checkingTask{

}

.taskElement{

}

.data{
    max-width: 600px;
    overflow-wrap: break-word;
    text-align: left;
}

.data span{
    text-align: left;
}


.dateAndEditAndDeleteBtn{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.date{
    color: rgb(56, 14, 43);
}

.updateBtn{
    font-size: 20px;
}

.updateBtn,
.editBtn,
.deleteBtn{
    color: rgb(108, 168, 108);
    font-size: 22px;
    cursor: pointer;
    transition: all .3s ease;
}

.editBtn:hover,
.updateBtn{
    color: rgb(90, 219, 90);
}

.deleteBtn{
    color: rgb(228, 132, 132);
    margin-right: 0px;
    font-size: 20px;
}

.deleteBtn:hover{
    color: rgb(226, 67, 62);
}